$footer-height: 250px

body

// wrapper
.l-wrapper
  min-height: 100%
  position: relative
  margin: 0 auto

// container
.l-container
  width: 1100px
  margin: 0 auto

.l-middle-container
  width: 700px
  margin: 0 auto

// main
.l-main
  padding-bottom: 60px

// header
.staff
  .l-header
    width: 100%
    height: 80px
    padding: 0 30px
    box-shadow: 0 1px 0 rgba($color-text, 0.2)
    position: relative
    display: flex
    justify-content: space-between
    align-items: center

    .l-header-left
      flex: 1
      .m-btn-group
        .m-btn
          width: 110px
          height: 35px
          padding: 7px
          font-size: 13px
          &:hover
            box-shadow: none

    .l-header-center
      flex: 1
      img
        height: 40px
        display: block
        margin: 0 auto

    .l-header-right
      flex: 1
      ul
        display: table
        li
          display: table-cell
          vertical-align: middle
          padding-right: 45px
          &:last-child
            padding-right: 0
          a
            color: $color-base
            .icon
              font-size: 25px
            &:hover
              color: $color-link
          .user
            display: table
            .user-avatar
              display: table-cell
              vertical-align: middle
              padding-right: 10px
              .icon-profile
                font-size: 30px
            .user-info
              display: table-cell
              vertical-align: middle
              .user-name
                font-weight: 500
              .user-id
                font-size: 13px
                color: $color-gray

.owner
  .l-header
    width: 100%
    height: 64px
    padding: 0 30px
    box-shadow: 0 1px 0 rgba($color-text, 0.2)
    position: relative
    display: flex
    justify-content: space-between
    align-items: center

    .l-header-left
      flex: 1
      img
        height: 35px
        display: block

    .l-header-center
      width: 440px
      ul
        li
          width: 110px
          height: 35px
          display: table
          float: left
          text-align: center
          a
            display: table-cell
            vertical-align: middle
            color: $color-text
            font-size: 12px
            &:hover
              background-color: rgba($color-link, 0.1)
              color: $color-link
              border-radius: 5px
          &.active
            a
              background-color: $color-link
              color: #fff
              border-radius: 5px

    .l-header-right
      flex: 1
      ul
        height: 64px
        display: table
        li
          display: table-cell
          vertical-align: middle
          padding-right: 45px
          &:last-child
            padding-right: 0
          a
            color: $color-base
            .icon-new
              font-size: 25px
            .icon-profile
              font-size: 25px
            &:hover
              color: $color-link

.l-header-mobile
  .l-header-mobile-left
    position: fixed
    bottom: 20px
    left: 15px
    z-index: 9998
    ul
      li
        &.menu
          a
            display: flex
            justify-content: center
            align-items: center
            width: 50px
            height: 50px
            border-radius: 50%
            background-color: $color-link
            box-shadow: 0 3px 1px rgba($color-text, 0.3)
            color: #fff
            .icon
              font-size: 25px
        &.logo
          a
            display: block
            width: 50px
            height: 50px
            padding: 7px 9px 11px
            background-color: $color-base
            border-radius: 5px
            box-shadow: 0 3px 1px rgba($color-text, 0.3)
            img
              width: 100%
              display: block
        &:nth-child(1)
          margin-bottom: 15px
  .l-header-mobile-right
    position: fixed
    bottom: 20px
    right: 15px
    z-index: 9998
    ul
      li
        a
          display: flex
          justify-content: center
          align-items: center
          width: 50px
          height: 50px
          border-radius: 50%
          background-color: $color-link
          box-shadow: 0 3px 1px rgba($color-text, 0.3)
          color: #fff
          .icon
            font-size: 25px
        &:nth-child(1)
          margin-bottom: 15px

// subheader
.l-subheader
  width: 100%
  height: 75px
  box-shadow: 0 1px 0 rgba($color-text, 0.2)
  li
    height: 75px
    display: table
    text-align: center
    float: left
    position: relative
    a
      display: table-cell
      vertical-align: middle
      color: $color-dark-gray
      .icon
        font-size: 32px
      .title
        font-size: 12px
        margin-top: 4px
      &:after
        transition: all 0.3s
        content: ""
        width: 100%
        height: 4px
        background-color: transparent
        left: 0
        bottom: 0
        position: absolute
      &:hover
        color: $color-link
        &:after
          background-color: $color-link
    &.active
      a
        color: $color-link
        &:after
          background-color: $color-link
  &-owner-exams
    margin-bottom: 60px
    li
      width: 33.333%
  &-owner-stores
    margin-bottom: 60px
    li
      width: 25%
  &-staff-exams
    margin-bottom: 60px
    li
      width: 25%

// main
.l-main-content
  width: 860px

// side
.l-side-content
  width: 210px

.l-search + .l-side-content
  margin-top: 55px

// exams
.l-exams
  &-embed
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    margin-top: -52px

.l-exam
  &-embed
    width: 375px
    height: 600px
    box-shadow: 2px 0 1px rgba($color-text, 0.2), -2px 0 1px rgba($color-text, 0.2), 0 2px 1px rgba($color-text, 0.2)
    margin-bottom: 45px

.l-exam-header
  width: 100%
  height: 110px
  padding: 0 30px
  margin-bottom: 40px
  display: flex
  align-items: center
  box-shadow: 0 1px 0 rgba($color-text, 0.2)
  .l-exam-header-left
    flex: 1

.l-exam-setting
  width: 900px
  margin: 0 auto
  padding-top: 30px

// search
.l-search
  &-m
    width: 500px

  &-head
    margin-bottom: 50px

// pop
.l-pop
  width: 805px

// breadcrumb
.l-breadcrumb
  width: 100%
  height: 22px
  padding: 0 30px
  background-color: $color-base
  box-shadow: 0 1px 0 rgba($color-text, 0.2)
  display: flex
  align-items: center

// form
.l-form-group
  display: flex
  margin-bottom: 60px

.l-form-group-left
  width: 200px

.l-form-group-right
  flex: 1

.l-form-switch
  display: flex
  align-items: flex-start

.l-form-submit
  text-align: center
  margin-bottom: 60px

// correction
.l-correction
  width: 240px
  margin: 0 auto

// insight
.l-insight
  margin-top: 40px

  &-correction
    position: relative

// graph
.l-graph
  width: 100%
  height: 330px
  border-top: 1px solid $color-gray
  border-bottom: 1px solid $color-gray
  padding: 60px 20px 55px 50px
  margin: 25px 0 50px 0
  background-color: #fafafa

  &-inner
    width: 100%
    height: 100%
    position: relative

  &-y
    width: auto
    height: 100%
    position: absolute
    left: -20px

  &-x
    width: 100%
    height: auto
    position: absolute
    bottom: -20px
    padding: 0 10px

  &-content
    width: 100%
    height: 100%
    padding: 8px 10px

  &-content-inner
    width: 100%
    height: 100%
    border-top: 1px solid $color-light-gray
    border-bottom: 1px solid $color-light-gray
    position: relative
    &:after
      content: ""
      width: 100%
      height: 1px
      background-color: $color-light-gray
      position: absolute
      top: 50%


// スマホ用のスタイル
@media only screen and (max-width: 414px)

  // container
  .l-container
    width: 100%
    padding: 0 20px

  // header
  .staff
    .l-header
      height: 65px
      padding: 0 15px
      .l-header-left
        .m-btn-group
          .m-btn
            width: 50px

      .l-header-center
        img
          height: 35px

      .l-header-right
        ul
          li
            &:nth-child(1)
              padding-right: 25px
            &:nth-child(2)
              padding-right: 0
  .owner
    .l-header
      height: 65px
      padding: 0 15px

      .l-header-center
        width: 100%
        ul
          li
            width: 25%

  // subheader
  .l-subheader
    height: 60px
    li
      height: 60px
      a
        .icon
          font-size: 25px
        .title
          font-size: 10px
          margin-top: 2px
    &-owner-exams
      margin-bottom: 50px
    &-staff-exams
      margin-bottom: 50px

  // main
  .l-main-content
    width: 100%
    float: none

  // exams
  .l-exams
    &-embed
      margin-top: 0

  .l-exam
    &-embed
      margin-right: 0

  // search
  .l-search
    display: flex
    align-items: flex-end
    margin-bottom: 45px
    &-m
      width: 100%

  // breadcrumb
  .l-breadcrumb
    padding: 0 20px