// float
.float-left
  float: left

.float-right
  float: right

.clear
  clear: both

// display
.inline
  display: inline

.block
  display: block

.inline-block
  display: inline-block

.table
  display: table

.table-cell
  display: table-cell

// align
.align-top
  vertical-align: top

.align-middle
  vertical-align: middle

.align-bottom
  vertical-align: bottom

.align-left
  text-align: left

.align-center
  text-align: center

.align-right
  text-align: right

// position
.relative
  position: relative

.absolute
  position: absolute

.fixed
  position: fixed

// width
@for $i from 1 through 100
  $width-p: percentage($i/100)
  .w#{$i}
    width: $width-p

// mobile
.mobile
  display: none !important

@media only screen and (max-width: 414px)
  .mobile
    display: inherit !important
  .mobile-none
    display: none !important