@font-face {
  font-family: 'icomoon';
  src:  url('https://dl.dropboxusercontent.com/s/kh9a2czfghms214/icomoon.eot?yhow36');
  src:  url('https://dl.dropboxusercontent.com/s/kh9a2czfghms214/icomoon.eot?yhow36#iefix') format('embedded-opentype'),
    url('https://dl.dropboxusercontent.com/s/lwaqvk5bnhb2413/icomoon.ttf?yhow36') format('truetype'),
    url('https://dl.dropboxusercontent.com/s/cffecbrxlotkoap/icomoon.woff?yhow36') format('woff'),
    url('https://dl.dropboxusercontent.com/s/csnrju9hgm0petx/icomoon.svg?yhow36#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e916";
}
.icon-plus:before {
  content: "\e915";
}
.icon-other:before {
  content: "\e914";
}
.icon-sort-up:before {
  content: "\e912";
}
.icon-sort-down:before {
  content: "\e913";
}
.icon-share-fill:before {
  content: "\e911";
}
.icon-camera:before {
  content: "\e900";
}
.icon-copy:before {
  content: "\e901";
}
.icon-history:before {
  content: "\e902";
}
.icon-insight:before {
  content: "\e903";
}
.icon-new:before {
  content: "\e904";
}
.icon-notice:before {
  content: "\e905";
}
.icon-profile:before {
  content: "\e906";
}
.icon-profit:before {
  content: "\e907";
}
.icon-public:before {
  content: "\e908";
}
.icon-quiz:before {
  content: "\e909";
}
.icon-return:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-secret:before {
  content: "\e90c";
}
.icon-setting:before {
  content: "\e90d";
}
.icon-share:before {
  content: "\e90e";
}
.icon-test:before {
  content: "\e90f";
}
.icon-voice:before {
  content: "\e910";
}