.libraries

  &-exams

    &-index

    &-insights
      .l-insight-head
        form
          .m-form-checkbox-label
            margin-right: 25px
            font-size: 12px

        .download-btn
          .m-btn
            font-size: 12px
            &:first-child
              margin-right: 15px

      .l-table
        .m-table
          margin-top: 35px

  &-quizzes