.profiles

  .l-wrapper
    height: 100%

    .l-subheader
      margin-bottom: 0

    .l-main
      height: 100%
      margin-top: -155px
      padding-top: 155px
      padding-bottom: 0

      .l-container
        height: 100%

        .l-middle-content
          border-left: 1px solid $color-gray
          border-right: 1px solid $color-gray
          min-height: 100%

  .m-table
    border-top: 1px solid $color-gray

    .m-btn
      font-size: 12px

  &-index

    .profile
      padding: 40px 25px 28px 25px
      border-bottom: 1px solid $color-gray

      .image
        width: 100px
        height: 100px

        img
          width: 100%
          display: block
          border-radius: 50%

      .info
        flex: 1
        padding-left: 25px
        padding-right: 10px

        .info-content
          .name
            font-size: 20px
            margin-bottom: 20px
            font-weight: 500

          .cooperations
            margin-bottom: 20px
            display: flex
            align-items: center

            .cooperation
              font-size: 22px
              margin-right: 10px

              &.line
                color: $color-line

              &.facebook
                color: $color-facebook

              &.twitter
                color: $color-twitter

              &.google
                color: $color-google

              &.slack
                color: $color-slack

            .cooperation-link
              font-size: 13px
              text-decoration: underline

          .user-id
            margin-bottom: 12px
            margin-right: 20px
            display: inline-block

          .tel
            margin-bottom: 12px
            margin-right: 20px
            display: inline-block

            .authenticated
              margin-left: 4px
              color: $color-link

          .mail
            margin-bottom: 12px
            margin-right: 20px
            display: inline-block

          .company
            margin-right: 20px
            margin-bottom: 12px
            display: inline-block

          .registration-date
            margin-bottom: 12px
            display: inline-block

        .mobile-sms-authentication
          .m-btn
            width: 100%

    .point
      padding: 30px 20px
      border-bottom: 1px solid $color-gray

      .point-content

        .icon
          .icon-point
            font-size: 35px
            margin-right: 5px
            color: #e6c43e

        .num
          font-size: 30px
          font-weight: 600
          margin-right: 4px

        .m-btn
          font-size: 13px

          &:first-child
            margin-right: 15px

// モバイル用のスタイル
@media only screen and (max-width: 768px)
  .profiles
    .l-wrapper
      .l-main
        height: auto
        margin-top: -65px
        padding-top: 65px
        padding-bottom: 80px

        .l-container
          .l-middle-content
            width: 100%
            border-right: none
            border-left: none

    &-index
      .profile
        display: block
        padding: 40px 20px

        .image
          margin: 0 auto 10px

        .info
          padding: 0

          .info-content
            .name
              text-align: center

            .cooperations
              justify-content: center

        .sms-authentication
          display: none

      .profile-list
        .m-list-link
          padding: 20px

      .point
        display: block

        .point-content
          .m-btn
            width: 100%
            margin-top: 15px

            &:first-child
              margin-right: 0
              margin-top: 30px