.results
  &-index
    table
      td
        .correction-content
          .l-correction
            margin-left: 15px

        .check-content
          .l-check
            margin-left: 15px

        .l-answer
          margin: 0

    .mobile-result-lists
      border-top: 1px solid $color-light-gray

      .result-list
        border-bottom: 1px solid $color-light-gray

        .result-link
          display: block
          padding: 20px
          color: $color-text

          .details
            display: flex
            align-items: center

            .details-left
              padding-right: 20px

              .m-insight-correct
                padding: 0

            .details-right
              flex: 1

              .date
                font-size: 13px
                color: $color-dark-gray
                margin-bottom: 5px
                text-align: right

              .exam-title
                font-size: 16px

              .l-correction
                width: 100%
                margin: 10px 0 0 0

              .l-check
                width: 100%
                margin: 10px 0 0 0

              .l-answer
                width: 100%
                margin: 10px 0 0 0

              .repetition
                display: flex
                align-items: center
                justify-content: flex-end
                margin-top: 5px

                .icon
                  margin-right: 4px
                  font-size: 16px

  &-show
    .insight-detail-btn
      display: flex
      width: 100%
      justify-content: center
      align-items: center
      padding: 15px
      border: 1px solid $color-gray
      margin-top: -1px
      color: $color-dark-gray

      i
        font-size: 18px
        margin-left: 5px

      &:hover
        background-color: $color-gray
        color: #fff

      &[aria-expanded="true"]
        background-color: $color-gray
        color: #fff

        i
          transform: rotate(90deg)

    .insight-detail-content

      .l-table
        overflow-x: scroll
        margin-top: 25px

        table
          table-layout: fixed

          .num
            width: 50px

          .question
            width: 350px

          .correct-answer
            width: 80px

          .date
            width: 100px

          .answer
            width: 100px
            position: relative

            .falsefood
              position: absolute
              font-size: 30px
              left: 50%
              margin-left: -15px
              top: 50%
              margin-top: -15px

              &.icon-correct
                color: rgba($color-green, 0.25)

              &.icon-incorrect
                color: rgba($color-red, 0.25)

            .choice
              position: relative
              z-index: 2

          .correct-answer-rate-text
            font-weight: 500

          .correct-answer-rate
            font-weight: 500

    .l-quizzes
      padding-top: 35px

    // チェックリスト
    .check
      .l-table
        overflow-x: scroll
        margin-top: 35px

        table
          table-layout: fixed

          .date
            width: 100px

          .solver-text
            width: 350px
            font-weight: 500

          .solver
            width: 100px

          .start-time-text
            width: 350px
            font-weight: 500

          .start-time
            width: 100px

          .end-time-text
            width: 350px
            font-weight: 500

          .end-time
            width: 100px

          .completion-rate-text
            width: 350px
            font-weight: 500

          .completion-rate
            width: 100px
            font-weight: 500

          .num
            width: 50px

          .question
            width: 300px

          .check
            width: 100px

            .icon-check
              font-size: 14px
              width: 24px
              height: 24px
              color: $color-green
              border: 1px solid $color-green
              display: flex
              justify-content: center
              align-items: center
              border-radius: 50%
              margin: 0 auto

    // アンケート
    .questionnaire

      .l-table
        margin-top: 10px

        .m-table
          border-top: 1px solid $color-light-gray

          td
            border-color: $color-light-gray
            padding: 18px 15px

            .times-answer
              display: flex
              align-items: center

              .times
                margin-right: 15px

              .m-answer
                margin: 0

            .date
              color: $color-dark-gray

// モバイル用のスタイル
@media only screen and (max-width: 1100px)
  .results
    &-show
      .l-container
        padding: 0 20px

// モバイル用のスタイル
@media only screen and (max-width: 768px)
  .results
    &-index
      .result-table
        display: none

    &-show
      .m-staff
        display: block

        &-avatar
          display: flex
          justify-content: space-between
          align-items: center

          img
            width: 80px
            height: 80px

          .registration-btn
            font-size: 12px
            margin-right: 10px

          .delete-btn
            font-size: 12px

        &-btn-group
          display: none

        &-info
          padding-left: 0

          &-content
            display: block

        &-text
          margin-bottom: 5px

          &:last-child
            margin-bottom: 0

        &-name
          font-size: 18px
          margin-bottom: 10px

      .l-insight-date
        display: none

      .l-insight-correct
        .m-insight-correct
          padding: 0 20px 0 0

      .l-insight-correction
        .m-insight-correction
          padding-left: 0

      .l-check
        width: 100%

      .l-answer
        width: 100%

      .l-graph
        padding: 60px 0 55px 0

        &-content
          padding: 8px 0

          .m-graph-point
            width: 50px
            height: 50px
            margin-left: -25px

            &-icon
              font-size: 50px

        &-x
          padding: 0

        &-y
          display: none

        .m-graph-answer-num
          right: 5px

      .question-content
        width: 100%
        border-right: none

        .m-quiz-question-text
          padding-bottom: 0

        .mobile-choice-content
          margin-top: 15px

        .mobile-answer-content
          margin-top: 15px

          .l-table
            table
              tr
                &:last-child
                  td
                    border-bottom: none

      .choice-content
        display: none

      .answer-content
        display: none