.settings

  &-user

    form + form
      padding-top: 20px

  &-account

    .subdomain-text
      margin-left: 10px

  &-payment

    .payment-content
      margin-bottom: 70px

      &:last-child
        margin-bottom: 0

    .edit-btn
      font-size: 13px

    .pdf-btn
      font-size: 13px

      &:first-child
        margin-right: 10px

    .card-info
      margin-left: 10px

    .payment-box
      width: 600px
      padding: 25px 30px 25px 25px
      border: 2px solid $color-base
      border-radius: 5px
      margin-bottom: 35px

      .box-left
        .title
          font-size: 18px
          font-weight: 400

          .payment-month
            font-weight: 600
            margin-right: 10px

        .payment-date
          color: $color-dark-gray
          margin-top: 5px

      .box-right
        .payment-price
          font-size: 26px
          font-weight: 600

    .icon-check
      color: $color-green

    .icon-incorrect
      color: $color-red

    // &-scheduled

    //   .m-table
    //     thead
    //       tr
    //     tbody
    //       tr
    //         th, td
    //           border-bottom-style: dashed

    //         .payment-date
    //           .this-month
    //             font-size: 18px
    //             font-weight: 500

    //           .next-month
    //             font-size: 14px

    //         .payment-price
    //           .this-month
    //             font-size: 24px
    //             color: $color-red
    //             font-weight: 600
    //             margin-bottom: 10px

    //           .next-month
    //             font-size: 24px
    //             color: $color-dark-gray
    //             font-weight: 500
    //             margin-bottom: 10px

    //           .m-btn
    //             width: 250px