.settings

  &-user

    form + form
      padding-top: 20px

  &-account

    .subdomain-text
      margin-left: 10px

  &-payment

    .payment-content
      margin-bottom: 70px

      &:last-child
        margin-bottom: 0

      .mobile-plan
        padding: 0 20px

        .plan-name
          font-size: 18px
          font-weight: 500
          margin-bottom: 10px

          &.free
            color: $color-gray

          &.start
            color: $color-link

          &.business
            color: $color-base

        .monthly-answers
          margin-bottom: 2px

        .use-span
          margin-bottom: 2px

        .next-time-withdrawal

      .registration-card-table

        .edit-btn
          font-size: 13px

        .card-info
          margin-left: 10px

      .mobile-registration-card-content
        .registration-card
          img
          .card-info
            margin-left: 10px
            font-size: 16px
            font-weight: 500

        .nominee
          margin-top: 5px

        .expiration-date
          color: $color-dark-gray
          font-size: 13px
          margin-top: 2px

        .edit
          margin-top: 15px

          .edit-btn
            width: 100%

      .payment-history-table
        .pdf-btn
          font-size: 13px

          &:first-child
            margin-right: 10px

        .icon-check
          color: $color-green

        .icon-incorrect
          color: $color-red

      .mobile-payment-history-lists
        border-top: 1px solid $color-light-gray

        .payment-history-list
          display: flex
          align-items: center
          padding: 20px 20px 20px 15px
          border-bottom: 1px solid $color-light-gray

          .status
            .icon-check
              color: $color-green

            .icon-incorrect
              color: $color-red

          .details
            flex: 1
            display: flex
            align-items: center
            padding-left: 15px

            .details-left
              flex: 1

              .date
                font-size: 13px
                color: $color-dark-gray
                margin-bottom: 5px

              .id
                font-size: 16px
                margin-bottom: 5px

              .type
            .details-right
              .price
                font-size: 16px
                font-weight: 500

    .plan-choice
      display: flex
      justify-content: space-between
      margin-top: 35px

      .plan
        width: 220px

        .plan-box

          .title
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 45px
            color: #fff
            font-size: 16px
            font-weight: 500

          .detail
            display: flex
            flex-direction: column
            justify-content: center
            height: 100px
            text-align: center
            border: 1px solid

            .price-text
              font-size: 24px
              font-weight: 600

              .unit
                font-size: 16px
                font-weight: 400
                margin-left: 2px

            .answer-text
              font-size: 18px
              font-weight: 500

              .unit
                font-size: 14px
                font-weight: 400
                margin-left: 2px

            .supplement
              font-size: 12px
              margin-top: 4px

          &.free
            .title
              background-color: $color-gray

            .detail
              border-color: $color-gray

          &.start
            .title
              background-color: $color-link

            .detail
              border-color: $color-link

          &.business
            .title
              background-color: $color-base

            .detail
              border-color: $color-base

        .m-btn
          width: 100%
          margin-top: 15px

// モバイル用のスタイル
@media only screen and (max-width: 768px)
  .settings
    .l-middle-content
      width: 100%
      padding: 0 20px

      .l-form-group-left
        display: none

      .m-form-control-half
        width: 100%

      .l-form-submit
        .m-btn
          width: 100%

    &-payment
      .l-middle-content
        padding: 0

      .l-head-setting
        padding: 0 20px

      .payment-content
        .plan-table
          display: none

        .registration-card-table
          display: none

        .payment-history-table
          display: none

        .mobile-registration-card-content
          padding: 0 20px

      .plan-choice
        display: block
        padding: 0 20px

        .plan
          width: 100%
          margin-bottom: 35px

          &:last-child
            margin-bottom: 0