.staffs
  .l-wrapper
    height: 100%

    .l-subheader
      margin-bottom: 0

    .l-main
      height: 100%
      margin-top: -155px
      padding-top: 155px
      padding-bottom: 0

      .l-container
        height: 100%

        .l-middle-content
          border-left: 1px solid $color-gray
          border-right: 1px solid $color-gray
          min-height: 100%

  &-edit
    form
      padding-bottom: 40px

      .head
        background-color: #f1f1f1
        padding: 8px 20px 8px
        color: $color-dark-gray
        font-size: 12px
        margin-bottom: 35px

      .l-form-group
        padding: 0 20px

        .l-form-group-left
          width: 150px

      .l-form-submit
        margin-bottom: 0

  &-oauth
    .m-list-item
      padding: 20px

    .account
      display: flex
      align-items: center

      .avatar
        img
          width: 50px
          height: 50px
          border-radius: 50%
          display: block

      .info
        padding: 0 15px
        flex: 1

        .name
          font-size: 16px

        .email
          font-size: 12px
          margin-top: 4px

      .edit
        .m-btn
          font-size: 12px

    .oauth-text
      margin-bottom: 10px

    .oauth-btn
      display: flex
      justify-content: center
      align-items: center
      width: 280px
      height: 40px
      color: #fff

      &:hover
        box-shadow: 0 3px 1px rgba($color-text, 0.3)

      .icon
        font-size: 20px
        margin-right: 4px

      &.line
        background-color: $color-line

      &.facebook
        background-color: $color-facebook

      &.twitter
        background-color: $color-twitter

      &.google
        background-color: $color-google

      &.slack
        background-color: $color-slack

  &-setting
    form
      padding-bottom: 40px

      .head
        background-color: #f1f1f1
        padding: 8px 20px 8px
        color: $color-dark-gray
        font-size: 12px
        margin-bottom: 35px

      .l-form-group
        padding: 0 20px

        .l-form-group-left
          width: 150px

      .l-form-submit
        &:last-child
          margin-bottom: 0

  &-notification-settings
    .notification-form
      padding: 0 20px 40px

      .text
        margin-bottom: 15px

      .notification-radio
        display: flex
        flex-wrap: wrap
        margin-bottom: 40px

        &-item
          width: 50%
          padding: 10px 0

          .m-form-radio-label
            margin-right: 0

      .l-form-submit
        margin-bottom: 0

  &-sms
    background-color: #eee

    .sms-content
      width: 500px
      margin: 0 auto
      background-color: #fff
      margin-top: 60px
      padding: 40px
      box-shadow: 0 3px 1px rgba($color-text, 0.3)

      .title
        text-align: center
        font-size: 24px
        margin-bottom: 40px

      form
        input
          padding: 6px 0

        .text
          margin: 20px 0 40px

        .submit-btn
          width: 100%
          height: 40px
          display: flex
          justify-content: center
          align-items: center

        .cancel-btn
          width: 100%
          height: 40px
          display: flex
          justify-content: center
          align-items: center
          margin-top: 15px

  &-passcode
    background-color: #eee

    .sms-content
      width: 500px
      margin: 0 auto
      background-color: #fff
      margin-top: 60px
      padding: 40px
      box-shadow: 0 3px 1px rgba($color-text, 0.3)

      .title
        text-align: center
        font-size: 24px
        margin-bottom: 40px

      form
        input
          padding: 6px 0
          margin-bottom: 40px

        .text
          margin: 0 0 40px

        .submit-btn
          width: 100%
          height: 40px
          display: flex
          justify-content: center
          align-items: center