.stores

  &-public

    &-index

      .l-subheader
        margin-bottom: 1px

      .pickup-content-caroucel
        margin-bottom: 40px

        section
          .slider-item
            width: 700px
            height: 260px
            margin: 0 5px

            .slider-link
              display: block
              background-color: #eee
              width: 100%
              height: 100%
              background-size: cover
              background-position: center
              background-repeat: no-repeat

          .slick-dots
            margin-top: 15px

      .l-search-head
        margin-bottom: 25px

  &-secret

    &-index

      .l-search-head
        margin-bottom: 25px

  &-history

    &-index
      .history-tablet-table
        .exam-about
          display: flex

          .image
            width: 40px
            height: 40px
            background-size: cover
            background-position: center
            background-repeat: no-repeat

          .info
            padding-left: 5px

            .author
              font-size: 12px
              color: $color-dark-gray
              margin-top: 2px

      .history-mobile-table
        td
          padding: 20px
          border-top: 1px solid $color-light-gray
          border-bottom: 1px solid $color-light-gray

          .purchasing-info
            .buyer-date
              display: flex
              justify-content: space-between
              font-size: 12px
              color: $color-dark-gray
              margin-bottom: 10px

            .exam-about
              display: flex
              justify-content: space-between

              .image
                width: 60px
                height: 60px
                background-size: cover
                background-position: center
                background-repeat: no-repeat

              .info
                flex: 1
                text-align: left
                padding-left: 10px
                padding-right: 5px

                .title
                  font-size: 16px
                  font-weight: 500

                .author
                  font-size: 12px
                  color: $color-dark-gray
                  margin-top: 2px

                .price
                  font-size: 14px
                  color: $color-red
                  font-weight: 500
                  margin-top: 5px

            .status
              display: flex
              align-items: center

              .inner
                width: 60px
                height: 60px
                border: 1px solid
                border-radius: 50%
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

              &.rental
                .text
                  font-size: 11px

                .period
                  font-size: 14px
                  font-weight: 500

              &.purchased
                color: $color-gray

                .text
                  font-size: 11px


  &-sales

    &-index

      .sales-boxes
        display: flex
        justify-content: space-between
        margin-bottom: 45px

        .sales-box
          width: 260px
          height: 80px
          display: flex
          align-items: center
          border-radius: 5px
          color: #fff

          .box-left
            padding: 0 20px
            display: flex
            height: 100%
            align-items: center
            border-radius: 5px 0 0 5px

            .icon
              font-size: 35px
              color: rgba(#fff, 0.9)

          .box-right
            flex: 1
            padding: 0 15px

            .title
              font-size: 12px
              color: rgba(#fff, 0.8)
              margin-bottom: 2px

            .data
              font-size: 18px
              font-weight: 500

          &.sales-month
            background-color: #e6c43e

            .box-left
              background-color: #CCAE37

          &.sales-exams
            background-color: #3ECAE6

            .box-left
              background-color: #37B3CC

          &.sales-customer
            background-color: #E6603E

            .box-left
              background-color: #CC5537

      .graph-head

        &-left
          display: flex
          align-items: center

          select
            border: 1px solid $color-gray
            width: 100px
            height: 30px

          .m-btn
            font-size: 12px
            padding: 6px 15px
            margin-left: 10px

    &-exams

    &-transfer
      .applicable-amount
        width: 500px
        height: 100px
        display: flex
        justify-content: center
        align-items: center

        .text
          width: 120px
          height: 100%
          display: flex
          justify-content: center
          align-items: center
          background-color: $color-dark-gray
          color: #fff

        .amount
          font-size: 35px
          font-weight: 600
          width: 380px
          height: 100%
          padding: 0 15px
          display: flex
          align-items: center
          background-color: #f1f1f1

      .application-form
        width: 500px
        display: flex
        justify-content: space-between
        align-items: center
        padding: 35px 0 45px

        input
          width: 350px

        .m-btn
          width: 120px
          height: 40px
          display: flex
          justify-content: center
          align-items: center

      .application-history
        .approval-pending
          color: $color-red

        .transfer-completed
          color: $color-green

      .mobile-application-history-lists
        border-top: 1px solid $color-light-gray

        .application-history-list
          padding: 20px
          border-bottom: 1px solid $color-light-gray

          .details
            display: flex
            align-items: center

            .details-left
              flex: 1

              .date
                font-size: 13px
                color: $color-dark-gray
                margin-bottom: 5px

              .id
                font-size: 16px
                margin-bottom: 10px

              .money-transfer
                display: flex
                align-items: center

                .text
                  font-size: 12px

                .num
                  font-size: 16px
                  font-weight: 500

              .fee
                display: flex
                align-items: center

                .text
                  font-size: 12px

                .num
                  font-size: 14px
                  font-weight: 400

            .details-right
              .status
                text-align: center
                width: 105px
                font-size: 13px

                &.approval-pending
                  color: $color-red

                &.transfer-completed
                  color: $color-green

  &-follow

// タブレット用のスタイル
@media only screen and (max-width: 1100px)
  .stores
    &-public
      &-index
        .pickup-content-caroucel
          height: 291px

          .slick-list
            min-width: auto
            width: 100%

      &-show
        .l-store-exam
          padding: 0 20px

        .l-store-purchase
          padding-right: 20px

    &-secret
      &-index

    &-history
      &-index
        .l-container
          width: 768px
          margin: 0 auto

          .history-table
            display: none

    &-sales
      &-index
        .sales-boxes
          .sales-box
            width: 33.333%
            margin-right: 10px

            &:last-child
              margin-right: 0

// タブレット用のスタイル
@media only screen and (max-width: 768px)
  .stores
    &-public
      &-index
        .pickup-content-caroucel
          section
            .slider-item
              width: 335px

        .l-main-content
          padding: 0 20px

      &-show
        .l-store-exam
          width: 100%
          padding: 0

        .l-store-purchase
          display: none

    &-secret
      &-index
        .l-main-content
          padding: 0 20px

    &-history
      &-index
        .l-container
          width: 100%

          .l-search-head
            padding: 0 20px

          .history-tablet-table
            display: none

    &-follow
      &-index
        .l-search
          padding: 0 20px
          margin-bottom: 25px

          .m-btn
            width: 100%

        .l-main-content
          .l-table
            table
              margin-top: 0

              th
                background-color: #f1f1f1
                padding: 8px 20px 8px
                color: $color-dark-gray
                font-size: 12px
                border-bottom: 1px solid $color-light-gray

              td
                border-bottom: 1px solid $color-light-gray

                &.company-avatar
                  width: auto
                  padding: 20px 15px 20px 20px

                  img
                    width: 60px
                    height: 60px

                &.company-info
                  width: 90%
                  padding: 20px 20px 20px 0
                  word-wrap: break-word
                  word-break: break-all

                &.permission
                  display: none

                &.rejection
                  display: none

            .following
              display: none

      &-search
        .l-search-head
          padding: 0 20px

        .l-main-content
          .l-table
            table
              th
                padding: 10px 20px

              td
                border-bottom: 1px solid $color-light-gray
                border-top: 1px solid $color-light-gray

                &.company-avatar
                  width: auto
                  padding: 20px 15px 20px 20px

                  img
                    width: 60px
                    height: 60px

                &.company-info
                  width: 90%
                  padding: 20px 20px 20px 0
                  word-wrap: break-word
                  word-break: break-all

                &.follow-request
                  display: none

    &-sales
      &-index
        .sales-boxes
          padding: 0 20px
          display: block

          .sales-box
            width: 100%
            margin-bottom: 15px

            &:last-child
              margin-bottom: 0

        .l-sales-graph
          padding: 0 20px
          overflow-x: scroll

        .m-table-head
          padding: 0 20px

      &-transfer
        .applicable-amount
          width: 100%
          padding: 0 20px

          .amount
            width: 100%

        .application-form
          padding: 35px 20px 45px
          width: 100%

          .m-form-control
            width: 100%
            margin-right: 15px

        .application-history
          display: none

      &-exams
        .l-search-head
          padding: 0 20px

        .sales-exams-table
          display: none

        .mobile-sales-exams-lists
          border-top: 1px solid $color-light-gray

          .sales-list
            padding: 20px
            border-bottom: 1px solid $color-light-gray

            .date
              color: $color-dark-gray
              font-size: 13px
              margin-bottom: 5px

            .details
              display: flex
              align-items: center

              .details-left
                padding-right: 5px
                display: flex
                flex: 1

                .image
                  width: 60px
                  height: 60px
                  background-position: center
                  background-size: cover
                  background-repeat: no-repeat

                .info
                  padding-left: 15px
                  flex: 1

                  .title
                    display: flex
                    align-items: center
                    font-size: 18px

                    .mode-icon
                      font-size: 20px
                      margin-right: 5px

                  .questions
                    display: flex
                    align-items: center
                    margin-top: 15px

                    .icon
                      font-size: 16px
                      margin-right: 4px

                    .num
                      font-size: 16px
                      font-weight: 400
                      margin-right: 2px
                      line-height: 18px

                    .text
                      font-size: 12px
                      color: $color-dark-gray

              .details-right

                .price
                  text-align: center

                  .text
                    font-size: 12px
                    margin-bottom: 2px

                  .num
                    font-size: 16px
                    font-weight: 400
                    color: $color-red

      &-customers
        .l-search-head
          padding: 0 20px
