.teams

  &-index
    .l-container
      padding-top: 60px

    .icon
      font-size: 25px

      &-line
        color: $color-line

      &-apple
        color: $color-apple

      &-android
        color: $color-android