.wallets
  .l-wrapper
    height: 100%

    .l-subheader
      margin-bottom: 0

    .l-main
      height: 100%
      margin-top: -155px
      padding-top: 155px
      padding-bottom: 0

      .l-container
        height: 100%

        .l-middle-content
          border-left: 1px solid $color-gray
          border-right: 1px solid $color-gray
          min-height: 100%

  &-index
    .wallet-lists
      border-top: 1px solid $color-light-gray

      .wallet-list
        padding: 20px
        display: flex
        border-bottom: 1px solid $color-light-gray

        .image
          .icon
            font-size: 50px

          .icon-point
            color: #e6c43e

          img
            width: 50px
            display: block

        .info
          padding-left: 15px
          flex: 1

          .date
            text-align: right
            color: $color-dark-gray
            font-size: 12px
            margin-top: 5px

          .text
            strong
              font-weight: 600
              font-size: 16px
              margin-right: 2px

// モバイル用のスタイル
@media only screen and (max-width: 768px)
  .wallets
    .l-wrapper
      .l-main
        height: auto
        margin-top: -65px
        padding-top: 65px
        padding-bottom: 80px

        .l-container
          .l-middle-content
            width: 100%
            border-right: none
            border-left: none