doctype html
html
  include _head
  body
    .l-wrapper
      ul
        li
          a href="./staff-exams-media.html"
            | スタッフ
        li
          a href="./owner-libraries-exams-index.html"
            | オーナー
/ doctype html
/ html
/   include _head
/   body.static.static-index
/     .l-wrapper
/       header.l-header
/       ul.question-nav
/         li
/       .l-main
/         .question-content
/           .question-cards
/             .question-card
/               .num
/                 | Q1
/             .question-card
/               .num
/                 | Q2
/             .question-card
/               .num
/                 | Q3
/             .question-card
/               .num
/                 | Q4
/             .question-card
/               .num
/                 | Q5
/             .question-card
/               .num
/                 | Q6
/             .question-card
/               .num
/                 | Q7
/             .question-card
/               .num
/                 | Q8
/             .question-card
/               .num
/                 | Q9
/             .question-card
/               .num
/                 | Q10