.m-btn
  font-size: 14px
  font-weight: 400
  display: inline-block
  border-radius: 5px
  padding: 6px 12px
  text-align: center
  cursor: pointer

  &-group
    .m-btn
      &:first-child
        border-radius: 6px 0 0 6px
      &:last-child
        border-radius: 0 6px 6px 0

  &-blue
    color: #fff
    background-color: $color-link
    border: 1px solid $color-link
    &:hover
      color: #fff
      box-shadow: 0 3px 1px rgba($color-text, 0.2)

  &-blue-transparent
    color: $color-link
    border: 1px solid $color-link
    &:hover
      color: $color-link

  &-new
    width: 200px
    height: 40px
    padding: 8px 12px