.m-quiz
  border: 1px solid $color-gray
  border-radius: 10px
  min-height: 460px
  margin-bottom: 35px

  img
    max-width: 100%
    display: block
    margin-top: 15px

  iframe
    width: 100%
    height: 200px
    margin-top: 15px

  &-content
    width: 33.333%
    border-right: 1px solid $color-gray

    &:last-child
      border-right: none

    &-edit
      padding: 20px 15px

  &-btn
    width: 100%
    height: 40px
    display: flex
    justify-content: center
    align-items: center

  &-head
    color: $color-base
    padding: 15px

  &-icon
    font-size: 35px
    margin-right: 5px

  &-title
    font-size: 18px
    font-weight: 500

  &-question-text
    padding: 0 15px 15px
    font-weight: 400
    font-size: 16px

  &-choices
    border-top: 1px solid $color-light-gray
    border-bottom: 1px solid $color-light-gray

  &-choice
    padding: 20px 45px 20px 15px
    border-bottom: 1px solid $color-light-gray
    position: relative
    display: flex
    align-items: center

    &:last-child
      border-bottom: none

  &-choice-icon
    position: absolute
    font-size: 25px
    right: 15px
    top: 50%
    margin-top: -12px

    &.icon-correct
      color: rgba($color-green, 0.5)

    &.icon-incorrect
      color: rgba($color-red, 0.5)

  &-choice-label
    width: 24px
    height: 24px
    border: 2px solid $color-gray
    border-radius: 50%

  &-choiced-label
    width: 24px
    height: 24px
    background-color: $color-link
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    color: #fff

  &-choice-correct
    width: 45px
    height: 100%
    font-size: 12px
    font-weight: 500
    background-color: rgba($color-green, 0.1)
    color: $color-green
    position: absolute
    right: 0
    top: 0
    display: flex
    justify-content: center
    align-items: center

  &-choice-content
    flex: 1
    padding: 0 0 0 10px

  &-answer-text
    padding: 0 15px 15px

  &-answer-correct
    width: 100%
    height: 90px
    display: flex
    justify-content: center
    align-items: center
    color: #fff
    background-color: $color-green
    font-size: 20px
    font-weight: 500
    border-radius: 0 10px 0 0
    position: relative

    &-icon
      opacity: 0.3
      position: absolute
      font-size: 54px

    &-text
      position: relative
      z-index: 2

  &-answer-incorrect
    width: 100%
    height: 90px
    display: flex
    justify-content: center
    align-items: center
    color: #fff
    background-color: $color-red
    font-size: 20px
    font-weight: 500
    border-radius: 0 10px 0 0
    position: relative

    &-icon
      opacity: 0.3
      position: absolute
      font-size: 54px

    &-text
      position: relative
      z-index: 2

  &-unanswered
    width: 100%
    height: 90px
    display: flex
    justify-content: center
    align-items: center
    color: #fff
    background-color: $color-gray
    font-size: 20px
    font-weight: 500
    border-radius: 0 10px 0 0
    position: relative

  &-list
    margin-bottom: 12px

    &:last-child
      margin-bottom: 25px

    &-link
      padding: 25px 15px
      border: 1px solid $color-gray
      position: relative
      display: block
      color: $color-text
      cursor: pointer

    &-num
      position: absolute
      width: 22px
      height: 22px
      background-color: $color-base
      color: #fff
      display: flex
      justify-content: center
      align-items: center
      top: -1px
      left: -1px
      font-size: 13px
      font-weight: 500

    &-content
      font-size: 13px

  &-delete
    color: $color-red
    font-size: 12px
    position: absolute
    right: 10px
    bottom: 5px

    &:hover
      color: $color-red
      text-decoration: underline