.m-table
  margin-top: 50px
  th
    font-size: 13px
    font-weight: 400
    padding: 8px 12px
    border-bottom: 1px solid $color-gray
  td
    font-size: 13px
    padding: 18px 12px
    border-bottom: 1px solid $color-gray
  &-sort
    font-size: 10px
    margin-left: 4px